<!-- main body -->
<div class="row">
  <div class="col-xl-12 mb-30">

    <div class="card card-statistics h-20">
      <div class="card-body">
        <div class="d-block d-md-flex justify-content-between">

          <fieldset style="width: 100%;">
            <legend style="font-size: 0.9rem;">Estados del proyecto</legend>

            <ul class="steps steps-5">

              <li style="padding-left: 13px;padding-top: 19px;" class="colorEstadoInception" id="estadoInception">
                <a title="Inception">
                  <span class="centerSpan">
                    Inception
                  </span>
                </a>
              </li>

              <li style="padding: 20px;" class="colorEstadoRFP" id="estadoRPF">
                <a title="RFP/RFI">
                  <span class="centerSpan">
                    RFP/RFI
                  </span>
                </a>
              </li>

              <li style="padding-left: 18px;padding-top: 20px;" class="colorEstadoPlanning" id="estadoPlanning">
                <a title="Planning">
                  <span class="centerSpan">
                    Planning
                  </span>
                </a>
              </li>
              <li style="padding-left: 14px;padding-top: 20px;" class="colorEstadoExecution" id="estadoExecution">
                <a title="Execution">
                  <span class="centerSpan">
                    Execution
                  </span>
                </a>
              </li>
              <li class="colorEstadoPostGoLive" id="estadoPostGoLive">
                <a title="Post Go Live">
                  <span class="centerSpan">
                    Post Go
                  </span>
                  <p class="centerLive">Live</p>

                </a>
              </li>
              <li style="padding-left: 57px;padding-top: 20px;" class="colorEstadoBAU" id="estadoBAU">
                <a title="BAU">
                  <span class="centerBAU">
                    BAU
                  </span>
                </a>
              </li>
              <li class="colorEstadoBenefitsManagament" id="estadoManagement">
                <a title="Benefits management">
                  <span class="centerSpan">
                    Benefits
                  </span>
                  <p class="centerManagement">management</p>

                </a>
              </li>
            </ul>

          </fieldset>

          <fieldset>
            <legend style="font-size: 0.9rem;">Salud del proyecto</legend>
            <div style="width:163px">
              <ul style="list-style: none;">
                <li>
                  <i class="fa fa-circle text-danger"></i>
                  Critico
                </li>
                <li>
                  <i class="fa fa-circle text-warning"></i>
                  Con problemas
                </li>
                <li>
                  <i class="fa fa-circle text-success"></i>
                  Buena salud
                </li>
              </ul>
            </div>
          </fieldset>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-10">
    <div class="card card-statistics h-100">
      <div class="card-body project-page">
        <div class="d-block d-sm-flex justify-content-start">

          <div class="col-lg-3 col-xs-2" *ngIf="userRol == 'admin'">
            <select class="fancyselect form-control" style="height: 47px;" (change)="onChangeEnviroment($event)">
              <option value="1">Draft</option>
              <option value="2">Publicados</option>
            </select>
          </div>


          <!--<div class="box clearfix sm-mb-10">
            <div id="contentTagFilter">

            </div>
          </div>-->

          <div class="col-lg-3 col-xs-2" *ngIf="userRol == 'admin'">
            <select class="fancyselect form-control" style="height: 47px;" (change)="onChangePM($event)">
              <option value="" disabled selected>Seleccione un PM...</option>
              <option value=""></option>
              <option *ngFor="let field of _pmFields" [value]="field.label">{{field.label}}</option>
            </select>
          </div>

          <div class="col-lg-2 col-md-1 col-xs-1" style="margin-top: 7px;">
            <div class="box clearfix sm-mb-10">
              <div id="numberOfProjects" style="display: inline-flex;">
                <strong>Proyectos:</strong> <span style="margin: -2px 0px 0px 0px;padding: 9px;font-size: 18px;" class="badge badge-pill badge-info float-right">{{totalProject}}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-1 col-xs-1" *ngIf="userRol == 'admin'">
            <div class="form-group" style="display: inline-flex;">
              <app-create></app-create>

              <button type="button" class="btn btn-xs btn-info margin-icon-buttons" style="margin-right:10px" title="Publish"
                      (click)="publishProject($event)" *ngIf="userRol == 'admin'">
                <i class="fa fa-lg fa-upload" aria-hidden="true"></i>
                Publicar
              </button>

              <button type="button" class="btn btn-xs btn-info margin-icon-buttons" style="margin-right:10px" title="Export"
                      (click)="exportAsXLSX()" *ngIf="userRol == 'admin'">
                <i class="fa fa-lg fa-file-excel-o" aria-hidden="true"></i>
                Exportar
              </button>
            </div>

          </div>


        </div>


      </div>
    </div>
  </div>

</div>

<div class="row" id="rowTagFilter" style="display:none">
  <div class="col-12 mb-10">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="d-block d-sm-flex justify-content-start">
          <div class="box clearfix sm-mb-10">
            <div id="contentTagFilter">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!IsDisplayCardView">
  <div class="row">
    <div class="col-xl-12 mb-10">

      <div class="card card-statistics h-20">
        <div class="card-body">
          <div class="d-block d-md-flex justify-content-between">

            <div class="box-body">


              <p-table [columns]="cols" [value]="listProject"
                       sortMode="single"
                       dataKey="guidProyecto"
                       [paginator]="true"
                       [rows]="50"
                       [pageLinks]="3"
                       [rowsPerPageOptions]="[50,75,100]"
                       [totalRecords]="totalRecords"
                       [globalFilterFields]="['pm']"
                       (sortFunction)="customSort($event)"
                       [customSort]="true"
                       (onFilter)="onFilter($event)"
                       #dt>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 3em"></th>

                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                      <strong>{{col.header}}</strong>
                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                                  ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>

                    <th style="width: 11em;text-align:center;">
                      <div style="display:none">
                        <button type="button" class="btn btn-xs btn-danger margin-icon-buttons" title="Sync all" (click)="syncProject(rowData,'All')" *ngIf="userRol == 'admin'">
                          <i class="fa fa-lg fa-refresh" aria-hidden="true"></i>
                        </button>
                      </div>
                    </th>

                  </tr>


                  <tr>
                    <td style="width: 3em;padding: 0.571em 0.857em;border-left: 1px solid #c8c8c8;font-weight: 700;color: #333333;background-color: #f4f4f4;"></td>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field" style="border: 1px solid #c8c8c8;font-weight: 700;color: #333333;background-color: #f4f4f4;padding:2px">
                      <input *ngSwitchCase="'nombre'" id="name" [(ngModel)]="nombreFilter" class="form-control filterInput filterInputSearch" placeholder="Filter..." pInputText type="text" (input)="dt.filter($event.target.value, 'nombre', 'contains')">
                      <p-dropdown *ngSwitchCase="'sponsor'" id="sponsor" [(ngModel)]="sponsorFilter" placeholder="All" class="filterDropDownSearch" [style]="{'width':'100%'}" [options]="sponsorOptionsFilter" (onChange)="onDropDownChange($event, dt)"></p-dropdown>
                      <p-dropdown *ngSwitchCase="'size'" id="size" [(ngModel)]="sizeFilter" class="filterDropDownSearch" placeholder="All" [style]="{'width':'100%'}" [options]="sizeOptionsFilter" (onChange)="onDropDownChange($event, dt)"></p-dropdown>
                      <input *ngSwitchCase="'presupuestoTotal'" id="budget" [(ngModel)]="presupuestoTotalFilter" class="form-control filterInput filterInputSearch" placeholder="Mayor igual" pInputText type="text" (keyup)="onChangeBudget($event,dt)" />


                      <p-dropdown *ngSwitchCase="'state'" id="state" [(ngModel)]="stateFilter" class="filterDropDownSearch" placeholder="All" [style]="{'width':'100%'}" [options]="stateOptionsFilter" (onChange)="onDropDownChange($event, dt)"></p-dropdown>

                      <p-dropdown *ngSwitchCase="'health'" id="health" [(ngModel)]="healthFilter" class="filterDropDownSearch" placeholder="All" [style]="{'width':'100%'}" [options]="healthOptionsFilter" (onChange)="onDropDownChange($event, dt)"></p-dropdown>
                      <input *ngSwitchCase="'npv'" id="npv" [(ngModel)]="npvFilter" class="form-control filterInput filterInputSearch" placeholder="Mayor igual" pInputText type="text" (keyup)="onChangeNPV($event,dt)" />
                      <input *ngSwitchCase="'irr'" id="irr" [(ngModel)]="irrFilter" class="form-control filterInput filterInputSearch" placeholder="Mayor igual" pInputText type="text" (keyup)="onChangeIRR($event,dt)" />
                      <input *ngSwitchCase="'payback'" id="payback" [(ngModel)]="paybackFilter" class="form-control filterInput filterInputSearch" placeholder="Mayor igual" pInputText type="text" (keyup)="onChangePayback($event,dt)" />
                    </td>

                    <td style="width: 3em;
                            padding: 0.571em 0.857em;
                            border-left: 1px solid #c8c8c8;
                            border-right: 1px solid #c8c8c8;
                            font-weight: 700;
                            color: #333333;
                            background-color: #f4f4f4;
                            text-align:center">
                      <button class="btn btn-xs btn-warning btn-responsive" title="Clear filter" (click)="clearFilter(dt)">
                        <i class="fa fa-filter"></i>
                      </button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                  <tr>
                    <td>
                      <a href="#" [pRowToggler]="rowData" (click)="onRowClick(rowData)">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                      </a>
                    </td>

                    <td *ngFor="let col of columns" [ngClass]="rowData[col.field] == 'RFP/RFI' ? 'colorEstadoRPF' : rowData[col.field] == 'Inception' ? 'colorEstadoIncept' : rowData[col.field] == 'Planning' ? 'colorEstadoPlann' : rowData[col.field] == 'Execution' ? 'colorEstadoExec' : rowData[col.field] == 'Post Go Live' ? 'colorEstadoPost' : rowData[col.field] == 'BAU' ? 'colorEstadoB  p-3 mb-2 bg-primary text-white' : rowData[col.field] == 'Benefits management' ? 'colorEstadoBenefits' : rowData[col.field] == 'Stop' ? 'colorEstadoStop  p-3 mb-2 bg-primary text-white' : rowData[col.field] == 'Backlog' ? 'colorEstadoBacklog  p-3 mb-2 bg-primary text-white' : null">

                      <div class="text-center">
                        <div *ngIf="col.header === 'Health'">
                          <a data-toggle="tooltip" ngbTooltip="{{rowData[col.field]}}">
                            <i class="fa fa-circle fa-2x" [style.color]="rowData['saludColor']"></i>
                          </a>
                        </div>
                      </div>
                      <div *ngIf="col.header != 'Health'">
                        {{rowData[col.field]}}
                      </div>
                    </td>

                    <td style="text-align:center">
                      <button type="button" class="btn btn-xs btn-info margin-icon-buttons" style="margin-right:2px"
                              title="View detail" [routerLink]="['/home/edit', rowData.idProyecto]">
                        <i class="fa fa-lg fa-list-alt"
                           aria-hidden="true"></i>
                      </button>
                      <button type="button" *ngIf="userRol == 'admin' && !currentEnviroment" class="btn btn-xs btn-info margin-icon-buttons" style="margin-right:2px"
                              title="Edit" [routerLink]="['/home/edit', rowData.idProyecto]">
                        <i class="fa fa-lg fa-pencil"
                           aria-hidden="true"></i>
                      </button>
                      <button type="button" *ngIf="userRol == 'admin'" class="btn btn-xs btn-danger margin-icon-buttons" style="margin-right:2px"
                              title="Delete" (click)="deleteProject(rowData.idProyecto)">
                        <i class="fa fa-lg fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>

                  </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                  <tr>
                    <td [attr.colspan]="columns.length + 1">
                      <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                        <div class="ui-g-12 ui-md-5">
                          <div class="ui-g">
                            <div class="ui-g-12">
                              <b>Objetivos:</b>

                              <p *ngFor="let objetivo of rowData.objetivos">
                                <i class="fa fa-angle-right fa-1x list"></i> {{objetivo.descripcion}}
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="ui-g-12 ui-md-3">
                          <div class="ui-g">
                            <div class="ui-g-12">
                              <b>Units:</b>
                              <p>
                                <i class="fa fa-check" *ngIf="rowData.unidadArt"></i> <i class="fa fa-times text-danger"
                                                                                         *ngIf="!rowData.unidadArt"></i>
                                Asociart
                              </p>
                              <p>
                                <i class="fa fa-check" *ngIf="rowData.unidadSegArg"></i> <i class="fa fa-times text-danger"
                                                                                            *ngIf="!rowData.unidadSegArg"></i>
                                Seguros Argentina
                              </p>
                              <p>
                                <i class="fa fa-check" *ngIf="rowData.unidadSegUru"></i> <i class="fa fa-times text-danger"
                                                                                            *ngIf="!rowData.unidadSegUru"></i>
                                Seguros Uruguay
                              </p>
                              <p>
                                <i class="fa fa-check" *ngIf="rowData.unidadRetiro"></i> <i class="fa fa-times text-danger"
                                                                                            *ngIf="!rowData.unidadRetiro"></i>
                                Retiro
                              </p>
                              <p>
                                <i class="fa fa-check" *ngIf="rowData.unidadCajaMutual"></i> <i class="fa fa-times text-danger"
                                                                                                *ngIf="!rowData.unidadCajaMutual"></i>
                                Caja Mutual
                              </p>
                              <p>
                                <i class="fa fa-check" *ngIf="rowData.unidadServFinanciero"></i> <i class="fa fa-times text-danger"
                                                                                                    *ngIf="!rowData.unidadServFinanciero"></i>
                                Servicios Financieros
                              </p>
                              <p>
                                <i class="fa fa-check" *ngIf="rowData.unidadTurismo"></i> <i class="fa fa-times text-danger"
                                                                                             *ngIf="!rowData.unidadTurismo"></i>
                                Viajes y Turismo
                              </p>
                              <p>
                                <i class="fa fa-check" *ngIf="rowData.unidadAsoServ"></i> <i class="fa fa-times text-danger"
                                                                                             *ngIf="!rowData.unidadAsoServ"></i>
                                Asociación Servicios
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="ui-g-12 ui-md-3">

                          <h5 class="card-title">Users role</h5>
                          <ul class="list-unstyled" style="max-height:400px;">
                            <li *ngFor="let proRol of rowData.proyectoRoles;let i=index">
                              <div class="media">
                                <div class="media-body">

                                  <button style="cursor:help" type="button" class="btn btn-secondary"
                                          [attr.data-toggle]="'popover' + i">
                                    {{proRol.descripcion}}
                                  </button>

                                  <div *ngIf="proRol?.nominado; else displayDefault">
                                    <p>{{proRol.nominado == '' ? '?' : proRol.nominado}}</p>
                                  </div>

                                  <ng-template #displayDefault>
                                    <p>?</p>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="divider mt-05"></div>
                            </li>
                          </ul>

                        </div>

                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="IsDisplayCardView">
  <div class="row">
    <div class="col-md-6 display" *ngFor="let project of listProject, index as i">
      <app-project [project]="project" [index]="i"></app-project>
    </div>
  </div>
</div>



