
<!-- Left Sidebar start-->
<div class="side-menu-fixed light-side-menu">
  <div class="scrollbar side-menu-bg" malihu-scrollbar [scrollbarOptions]="">
    <ul class="nav navbar-nav side-menu">
      <li>
        <a routerLink="/" routerLinkActive="active">
          <i class="ti-home"></i><span class="right-nav-text">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/home/providers" routerLinkActive="active">
          <i class="ti-user"></i><span class="right-nav-text">Proveedores</span>
        </a>
      </li>
      <li>
        <a routerLink="/home/documents" routerLinkActive="active">
          <i class="ti-layers-alt"></i><span class="right-nav-text">Documentos</span>
        </a>
      </li>
      <li>
        <a routerLink="/home/roles" routerLinkActive="active">
          <i class="fa fa-id-card-o"></i><span class="right-nav-text">Roles</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Left Sidebar End-->
