<div class="wrapper">
  <section class="height-100vh d-flex align-items-center page-section-ptb login">
    <div class="container">
      <div class="row justify-content-center no-gutters vertical-align">
        <div class="col-lg-5 col-md-5 login-fancy-bg bg" >
          <div class="login-fancy">
            <h2 class="text-white mb-20">Cartera de Proyectos PMO</h2>
          </div>
        </div>
   
      </div>
      <div class="row justify-content-center no-gutters vertical-align">
        <div class="col-lg-5 col-md-5 bg-white">
          <div class="login-fancy pb-40 clearfix">
            <a href="javascript:void(0);" class="button">
              <span (click)="ingresar()">Ingresar</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--<div class="row">
  <div class="col-lg-12 col-xl-12 mb-30">
    <div class="card card-statistics h-100">
      <div class="p-4 text-center bg-info">
        <h3 class="mb-70 text-white">Dashboard Ejecutivo</h3>
      </div>
      <div class="card-body text-center">
      
        

      
        <div class="row">
  
        </div>
      </div>
    </div>
  </div>
</div>
-->
